# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python egg files
*.egg
*.egg-info/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Pytest cache
.cache/
pytest_cache/

# Coverage reports
.coverage
*.cover
*.py,cover

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint-global.txt

# Other files
*.log
*.pot
*.pyc

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
Icon?

# data files
*.zip